<ng-container *ngIf="comments">
    <mat-list>
        <h4 mat-subheader>Comments</h4>
        <app-comment [postComment]="comment" *ngFor="let comment of comments"></app-comment>
    </mat-list>
</ng-container>