<br>

<ng-container *ngIf="(posts$ | async)  as posts">
    <div class="posts__container">
        <ng-container *ngFor="let post of posts">
            <app-post [post]="post"   (postClicked)="isPostClicked($event)"></app-post>
        </ng-container>
    </div>
</ng-container>

<!-- <app-comments-list [comments]="comments$ | async"></app-comments-list> -->