<app-loader></app-loader>
<div class="app__content">
  <mat-toolbar class="mat-elevation-z2" color="primary">
    <mat-icon aria-hidden="false" aria-label="Face icon">face</mat-icon>
    <h1>Wiktor's Blog</h1>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>

    <mat-menu #menu="matMenu">
      <button routerLink="/add" mat-menu-item>Add Post</button>
    </mat-menu>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>