<form class="post--form__form" [formGroup]="postForm">

    <!-- <mat-form-field class="post--form__field">
            <input matInput placeholder="Post Id" type="text" formControlName="id" required>
        </mat-form-field> -->

    <ng-container *ngIf="type === 'edit' && _post">
        <p>
            <strong>ID: </strong>
            <span class="post--form__postid">
                {{_post.id}}
            </span>
        </p>
    </ng-container>
    <br>
    <mat-form-field class="post--form__field">
        <input matInput placeholder="Post title" formControlName="title" myAutoFocus="200" required>
        <mat-error *ngIf="postForm.controls['title'].touched && postForm.controls['title'].hasError('required')">
            This field is required.
        </mat-error>
        <mat-error *ngIf="postForm.controls['title'].hasError('maxlength')">
            This field exceed 50 characters.
        </mat-error>
    </mat-form-field>

    <mat-form-field class="post--form__field">
        <input matInput placeholder="Post author" formControlName="author" required>
        <mat-error *ngIf="postForm.controls['author'].touched && postForm.controls['author'].hasError('required')">
            This field is required.
        </mat-error>

    </mat-form-field>


    <button mat-raised-button type="submit" color="primary" (click)="onSubmitClick()" [disabled]="postForm.invalid">
        {{ submitButtonText }}
    </button>
</form>