.loader-overlay {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;;
    z-index: 999999999;
    left: 0;
    top: 0;
    
    mat-spinner {
        margin: -40px auto 0;
        top: 50%;
    }
}