@import '~@angular/material/theming';

@include mat-core();
$blog-app-primary: mat-palette($mat-indigo);
$blog-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$blog-app-warn:    mat-palette($mat-red);
$blog-app-theme:   mat-light-theme($blog-app-primary, $blog-app-accent, $blog-app-warn);
$message-succes-bg:  #00C851;
$info-succes-bg: #33b5e5;
$warn-succes-bg: #ffbb33;
$error-succes-bg: #ff4444;

@include angular-material-theme($blog-app-theme);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app__content {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .posts__container {
        padding-top: 2rem;
        display: flex;
        width: 1200px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .post-card {
            margin: 1rem;
        }
    }
}

.mat-snack-bar-container {
   .message{
        display: flex;
        align-items: center;
        .mat-icon {
            margin-right: 1rem;
        }
    }
    &.success {
        background: $message-succes-bg;
        word-break: normal;
    }

    &.info {
        background: $info-succes-bg;
        word-break: normal;
    }

    &.warning {
        background: $warn-succes-bg;
        word-break: normal;
    }

    &.error {
        background: $error-succes-bg;
        word-break: normal;
    }
}
