<mat-card class="post-card mat-elevation-z2" (click)="onPostClick()" >
    <mat-card-header>
        <mat-card-title>{{post.title}} - <small> {{post.author}}</small></mat-card-title>
        <mat-card-subtitle> {{post.id}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
        <a routerLink="/edit/{{post.id}}" mat-raised-button color="primary">Edit Post</a>
    </mat-card-actions>
</mat-card>